body{
    background-color: #dada;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100%;
}
.user-success input,.user-success input:focus{
    border: 1px solid #292;
    outline: none;
}
.user-fail input,.user-fail input:focus{
    border: 1px solid red;
    outline: none;
}
.user-success #icons i.fa-circle-check{
    color: #292;
    visibility: visible;
}
.user-fail #icons i.fa-circle-xmark{
    color:red;
    visibility: visible;
}
.user-success,.user-fail{
    position: relative;
}
#icons i{
    position: absolute;
    right: 5px;
    top: 18px;
    visibility: hidden;
}
#user-field,#email-field,#password-field,#confirm-password-field{
    margin-bottom: 10px;
}
.form-box{
    box-shadow: 0 0 4px 0 #222;
    border-radius: 8px;
}
